body {
  background-color: lavender;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: purple;
}

.product {
  border: 2px solid purple;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
}

button {
  background-color: purple;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkviolet;
}
